button{
          border:1px solid black;
          color:black;
          background:white;
          border-radius:18px;
          padding-top:10px;
          padding-bottom:10px;
          padding-left:20px;
          padding-right:16px;
          font-weight:bold;
          

          
}